*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse files
.project 
.classpath
.settings
target 

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
cachefile

# PMD
.pmd
*.bak
farsandra-core/ivy.xml
farsandra-core/src/test/ivy.xml
farsandra-core/src/test/bin/farsandra.properties
farsandra-core/src/test/bin/farsandra_custom.properties
farsandra-core/src/test/bin/log4j.xml
farsandra-core/src/test/resources/log4j.xml